/**
 * Move in a circle without wrapper elements
 * Idea by Aryeh Gregor, simplified by Lea Verou
 */

@keyframes rot {
    from {
        transform: rotate(0deg)
        translate(-50px)
        rotate(0deg);
    }
    to {
        transform: rotate(360deg)
        translate(-50px)
        rotate(-360deg);
    }
}
@-webkit-keyframes rot {
     from {
         -webkit-transform: rotate(0deg)
         translate(-50px)
         rotate(0deg);
     }
     to {
         -webkit-transform: rotate(360deg)
         translate(-50px)
         rotate(-360deg);
     }
 }

.smile {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    left: 50%;
    margin: -20px;
    font-size: 100px;
    -webkit-animation: rot 3s infinite linear;
    animation: rot 3s infinite linear;
}